body
    //- https://stripe.com/docs/quickstart
    form(action='/post/charge', method='post', autocomplete="off")
        article
            label Amount: $5.00
        script(
            src='//checkout.stripe.com/checkout.js',
            class='stripe-button',
            data-key='pk_test_p1V4wvgaB2ldHqyWH5mYLwLI'
            data-locale='auto',
            data-description='Sample Charge',
            data-amount='500')



