extends /layout/layout
//- App Shell

block main
   .container.narrow.blog.blog-single
      .columns.d-flex
         .column.col-9.col-lg-12
            .img
               img.img__inside(src='who.jpg')
         .column.col-3.col-lg-12.post-title
            .post-body
               h6.title #{title}
            .post-footer.d-flex
               time.date #{date}
      .columns.post-content
         .column.col-9.col-lg-12.col-post-content
            .post-content__inside
               include:metaMD text.md
         .column.col-3.col-lg-12.col-post-author
            .author
               a.avatar(href='#')
                  img.avatar__inside(src=avatar)
               .author__desc
                  a.link-primary.name(href='#') #{name}
                  p #{authorDesc}